{% extends 'base.html' %}

{% block content %}
    <h1>Teams</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ team.id }}</td>
                    <td><a href="{{ url_for('public.team_roster', id=team.id) }}">{{ team.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
