{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create Round{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="phase_id">Phase</label>
    <select name="phase_id" id="phase_id">
      {% for phase in phases %}
        <option value="{{ phase.id }}">{{ phase.phase_id }}</option>
      {% endfor %}
    </select>
    <label for="round_id">Round ID</label>
    <input type="number" name="round_id" id="round_id" required>
    <input type="submit" value="Create">
  </form>
{% endblock %}