{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create Phase{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="year">Season</label>
    <select name="year" id="year">
      {% for season in seasons %}
        <option value="{{ season.year }}">{{ season.year }}</option>
      {% endfor %}
    </select>
    <label for="phase_id">Phase ID</label>
    <input type="number" name="phase_id" id="phase_id" required>
    <input type="submit" value="Create">
  </form>
{% endblock %}