{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create Person{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {% for attribute in person_attributes %}
      {% if attribute != 'id' %}
        <label for="{{ attribute }}">{{ attribute.replace('_', ' ')|title }}</label>
        <input name="{{ attribute }}" id="{{ attribute }}" required>
      {% endif %}
    {% endfor %}
    <label for="team_id">Team</label>
    <select name="team_id" id="team_id" required>
      {% for team in teams %}
        <option value="{{ team.id }}">{{ team.name }}</option>
      {% endfor %}
    </select>
    <label for="shirt_num">Shirt Number</label>
    <input name="shirt_num" id="shirt_num" type="number" required>
    <input type="submit" value="Create">
  </form>
{% endblock %}
