{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Data Creator{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Select a table to add data to:</h2>
  <ul>
    <li><a href="{{ url_for('creator.create_season') }}">Create Season</a></li>
    <li><a href="{{ url_for('creator.create_entity', table_name='stadium') }}">Create Stadium</a></li>
    <li><a href="{{ url_for('creator.create_team') }}">Create Team</a></li>
    <li><a href="{{ url_for('creator.create_person') }}">Create Person</a></li>
    <li><a href="{{ url_for('creator.create_entity', table_name='referee') }}">Create Referee</a></li>
    <li><a href="{{ url_for('creator.create_entity', table_name='event') }}">Create Event</a></li>
    <li><a href="{{ url_for('creator.create_phase') }}">Create Phase</a></li>
    <li><a href="{{ url_for('creator.create_person_team') }}">Create Person-Team Association</a></li>
    <li><a href="{{ url_for('creator.create_round') }}">Create Round</a></li>
    <li><a href="{{ url_for('creator.create_match') }}">Create Match</a></li>
    <li><a href="{{ url_for('creator.create_team_stadium') }}">Create Team-Stadium Association</a></li>
    <li><a href="{{ url_for('creator.create_match_referee') }}">Create Match-Referee Association</a></li>
    <li><a href="{{ url_for('creator.create_event_creation') }}">Create Event Creation</a></li>
  </ul>
{% endblock %}
