{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}All Matches{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Location</th>
        <th>Team 1 ID</th>
        <th>Team 2 ID</th>
      </tr>
    </thead>
    <tbody>
      {% for match in matches %}
        <tr>
          <td><a href="{{ url_for('basketball.match_details', id=match['id']) }}">{{ match['id'] }}</a></td>
          <td>{{ match['match_date'] }}</td>
          <td>{{ match['stadium_id'] }}</td>
          <td>{{ match['home_team_id'] }}</td>
          <td>{{ match['away_team_id'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
